{% extends 'base.html' %}

{% block content %}

<style>
    .container {
        width: max-content;
        margin: 0 auto;
        padding: 50px;
        background-color:#edede9;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }
  </style>

<div class="col-md-6 offset-md-3">
<div class="container">
<h1 style="text-align: center;"> Register!!!</h1>
<br/>
<form method=POST action="">
    {% csrf_token %}
    {{ form_user.as_p }}
    <small><a class="nav-link float-end" href="{% url 'login_user' %}" >
        <button class="btn btn-outline-dark" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            I already have an account!
        </button>
    </a></small>
    <br/>
    <button type="submit" class="btn btn-outline-secondary">Register</button>
    </form>
</div>
</div>

{% endblock %}