{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
body {
    font-family: Arial, sans-serif;
    background-image: url('../static/images/background2.jpg');
  }
  .container {
        width: max-content;
        margin: 0 auto;
        padding: 50px;
        background-color:#edede9;
        border-radius: 30px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }
</style>

<div class="container">
<h1>Search Tutor acoording to their Field!!</h1>
<br/>
    <form method="POST">
        {% csrf_token %}
        <input type="input" class="form-control" placeholder="search meeps!" name="search"><br/><br/>
        <button type="submit" class="btn btn-outline-secondary" style="align-items: center;">Search Field!</button>
    </form>
    <br/><br/>

    {% if search %}
    <h3>
        You searched for : &nbsp;{{search}}    
    </h3><br/><br/>
    <div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-2 g-2 g-lg-3">
    {% if searched %}
    {% for profile in searched %}
    <div class="col">
    <div class="p-3">

    <div class="card" style="width: 18rem; align-items: center; padding: 10px; border-color: black;">
      {% if profile.profile_image %}
          <img src="{{profile.profile_image.url}}" width=200 height=200 class="img-fluid rounded-start " alt="{{profile.user.username}}">
          {% else %}
            <img src="{% static 'images/default1.png' %}" width=200 height=200 class="img-fluid rounded-start" alt="profile_pic">
          {% endif %}
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">{{profile.user.username}}</h5>
        <h6 class="card-title" style="text-align: center;">{{profile.tutor_field}}</h6>
        <p class="card-text" style="text-align: center;"> {{profile.profile_bio}} </p>
        </div>
        <a href="{% url 'profile' profile.user.id %}" class="btn btn-outline-dark" >@{{profile.user.username|lower}}</a>
    </div>
    </div></div>
    <br/><br/>
          {% endfor %}<br/><br/><br/><br/>
          {% else %}   
          <h3>Sorry! There are no tutir in that particular field</h3>       
    {% endif %}
    {% endif %}
    </div>
</div>
</div>
{% endblock %}
